:root {
  font-size: 16px;
  --main-font: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
}

.main-body {
  width: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

header {
  margin-bottom: 1rem;
}

tr:hover {
  background-color: #eee;
  cursor: pointer;
}

.pokemon-modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}
.pokemon-modal button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: white;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
}

.modal-content div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content .close-modal-btn {
  display: flex;
  justify-content: right;
  margin-top: -1rem;
  margin-right: -1rem;
}
