@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close_small");

:root {
  font-size: 16px;
  --main-font: "Montserrat", sans-serif;
  --bg: #f0f3f7;
  --surface: #ffffff;
  --bg-hover: #eee;
  --text: #333;
  --border: #444;
}

:root.dark {
  --bg: #1e1e1e;
  --surface: #2a2a2a;
  --bg-hover: #463f3f;
  --text: #e8e8e8;
  --primary: #6aa8ff;
  --border: #ffffff;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background: var(--bg);
  color: var(--text);
}

.main-body {
  width: 100%;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

header {
  width: 80%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

header .search-input {
  border: 1px solid #dce2eb;
  border-radius: 4px;
  position: relative;
}

header .clear-search {
  all: unset;
  position: relative;
  right: 1rem;
  display: none;
}

.theme-toggle {
  all: unset;
  cursor: pointer;
  margin-left: 1rem;
}

main,
main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  background: var(--surface);
  width: 80%;
}

.pokemon-table th {
  background: #4a90e2;
  border: 1px solid #dce2eb;
  color: white;
  text-align: center;
}

.pokemon-table tr:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}

.pokemon-table tbody td {
  border-bottom: 1px solid #dce2eb;
}
.pokemon-table tbody tr td {
  text-align: center;
}
.pokemon-table tbody tr img {
  width: 20%;
  height: 20%;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pageNumber {
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 0.25rem;
  cursor: pointer;
}
.pageNumber:hover {
  background-color: #88b3ef;
}

.selected-page {
  background: #2685f3;
  color: var(text);
  cursor: none;
}

/********************************/
/********* Modal view ***********/
/********************************/
.pokemon-modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}

.pokemon-modal--hidden {
  display: none;
}

.pokemon-modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  padding: 1.5rem;
  border-radius: 12px;
  width: 70%;
  border: 2px solid red;
}

.pokemon-modal__content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pokemon-modal__content .pokemon-modal__close-button {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: -1rem;
}
.pokemon-modal__close-button button {
  all: unset;
}
.pokemon-modal__close-button button:hover {
  color: rgb(241, 161, 161);
}
.pokemon-modal__name {
  color: #4a90e2;
  font-weight: bold;
}

.pokemon-modal__abilities-title,
.pokemon-modal__stats-title {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--surface);
  font-weight: bold;
}
.pokemon-modal__abilities {
  width: 100%;
  border-top: 2px solid #4a90e2;
}
.pokemon-modal__abilities-title {
  width: 30%;
}
.pokemon-modal__abilities-value {
  width: 70%;
}

.pokemon-modal__stats {
  flex-direction: column;
  width: 90%;
  border-top: 2px solid #4a90e2;
  padding-top: 0.5rem;
}
.pokemon-modal__table {
  width: 100%;
}

.pokemon-modal__table tr td {
  padding: 0.5rem;
  width: 16.6%;
  text-align: center;
}

/********************************/
/********* Lazy loading ***********/
/********************************/
.skeleton-row {
  width: 300px;
  height: 10vh;
  border-radius: 4px;
  background: #e2e2e2;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
}

.skeleton-row::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

@media (min-width: 600px) {
  .pokemon-modal {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  main {
    width: 80%;
  }
}

@media (min-width: 992px) {
  main {
    width: 60%;
  }
  .pokemon-modal__content {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  main {
    width: 60%;
  }
  .pokemon-modal__content {
    width: 50%;
  }
}
