:root {
  font-size: 16px;
  --main-font: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background: #f0f3f7;
  color: #333;
}

.main-body {
  width: 100%;
  background: #f0f3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

header {
  margin-bottom: 1rem;
}

header .search-input {
  border: 1px solid #dce2eb;
}

.pokemon-table {
  border-collapse: collapse;
  background: #ffffff;
}

.pokemon-table th {
  background: #4a90e2;
  border: 1px solid #dce2eb;
  color: white;
}

.pokemon-table tr:hover {
  background-color: #eee;
  cursor: pointer;
}

.pokemon-table tbody tr {
  border-bottom: 1px solid #dce2eb;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pageNumber {
  border: 1px solid black;
  padding: 0.25rem;
  cursor: pointer;
}

.selected-page {
  background: #4a90e2;
  color: white;
  cursor: none;
}

.pokemon-modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}
.pokemon-modal button {
  all: unset;
  position: absolute;
  top: 15.5rem;
  right: 34rem;
  cursor: pointer;
  color: black;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
}
