:root {
  font-size: 16px;
  --main-font: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background: #f0f3f7;
  color: #333;
}

.main-body {
  width: 100%;
  background: #f0f3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

header {
  margin-bottom: 1rem;
}

header .search-input {
  border: 1px solid #dce2eb;
}
main,
main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-table {
  border-collapse: collapse;
  background: #ffffff;
  width: 80%;
}

.pokemon-table th {
  background: #4a90e2;
  border: 1px solid #dce2eb;
  color: white;
  text-align: center;
}

.pokemon-table tr:hover {
  background-color: #eee;
  cursor: pointer;
}

.pokemon-table tbody tr {
  border-bottom: 1px solid #dce2eb;
}
.pokemon-table tbody tr td {
  text-align: center;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pageNumber {
  border: 1px solid black;
  padding: 0.25rem;
  cursor: pointer;
}

.selected-page {
  background: #4a90e2;
  color: white;
  cursor: none;
}

/********************************/
/********* Modal view ***********/
/********************************/
.pokemon-modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}

.pokemon-modal--hidden {
  display: none;
}

.pokemon-modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  width: 70%;
  border: 2px solid red;
}

.pokemon-modal__content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pokemon-modal__content .pokemon-modal__close-button {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: -1rem;
}
.pokemon-modal__close-button button {
  all: unset;
}
.pokemon-modal__close-button button:hover {
  color: rgb(241, 161, 161);
}
.pokemon-modal__name {
  color: #4a90e2;
  font-weight: bold;
}

.pokemon-modal__abilities-title,
.pokemon-modal__stats-title {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #eeeae5;
  font-weight: bold;
}
.pokemon-modal__abilities {
  width: 100%;
  border-top: 2px solid #4a90e2;
}
.pokemon-modal__abilities-title {
  width: 30%;
}
.pokemon-modal__abilities-value {
  width: 70%;
}

.pokemon-modal__stats {
  flex-direction: column;
  width: 90%;
  border-top: 2px solid #4a90e2;
  padding-top: 0.5rem;
}
.pokemon-modal__table {
  width: 100%;
}

.pokemon-modal__table tr td {
  padding: 0.5rem;
  width: 16.6%;
  text-align: center;
}

/********************************/
/********* Lazy loading ***********/
/********************************/
.skeleton-row {
  width: 300px;
  height: 10vh;
  border-radius: 4px;
  background: #e2e2e2;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
}

.skeleton-row::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

@media (min-width: 600px) {
  .pokemon-modal {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  main {
    width: 80%;
  }
}

@media (min-width: 992px) {
  main {
    width: 60%;
  }
  .pokemon-modal__content {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  main {
    width: 60%;
  }
  .pokemon-modal__content {
    width: 50%;
  }
}
