:root {
  font-size: 16px;
  --main-font: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background: #f0f3f7;
  color: #333;
}

.main-body {
  width: 100%;
  background: #f0f3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

header {
  margin-bottom: 1rem;
}

header .search-input {
  border: 1px solid #dce2eb;
}
main,
main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-table {
  border-collapse: collapse;
  background: #ffffff;
  width: 80%;
}

.pokemon-table th {
  background: #4a90e2;
  border: 1px solid #dce2eb;
  color: white;
}

.pokemon-table tr:hover {
  background-color: #eee;
  cursor: pointer;
}

.pokemon-table tbody tr {
  border-bottom: 1px solid #dce2eb;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pageNumber {
  border: 1px solid black;
  padding: 0.25rem;
  cursor: pointer;
}

.selected-page {
  background: #4a90e2;
  color: white;
  cursor: none;
}

.pokemon-modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}
.pokemon-modal button {
  all: unset;
  position: absolute;
  top: 15.5rem;
  right: 34rem;
  cursor: pointer;
  color: black;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
}

.skeleton-row {
  width: 300px;
  height: 10vh;
  border-radius: 4px;
  background: #e2e2e2;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
}

.skeleton-row::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

@media (min-width: 768px) {
  main {
    width: 80%;
  }
}

@media (min-width: 992px) {
  main {
    width: 60%;
  }
}
